#container {position:relative; top:60px;}

ul.actions {list-style:none; padding-left:10px;text-align:center;}
ul.actions li {margin-bottom:20px;}
ul.actions li a {font-size:25px;}

#survey-title label {font-size:18px;vertical-align:center;}
#survey-title input {height:35px; font-size:25px;}


.clearfix label {font-size:18px;vertical-align:center;line-height:20px;}
.clearfix input {height:35px; font-size:25px; width:80%;}


ul.survey {list-style:none;}
ul.survey .survey-button {margin:10px; text-decoration:none;color:#366;font-size:20px;line-height:30px;}

td.stats_value {font-size:20px;font-weight:bold;}

ul.recent-activity {list-style:none;}
ul.recent-activity li {margin-top:10px;}

ul.all_surveys {list-style:none;}
ul.all_surveys li {margin-top:20px;}
ul.all_surveys li:hover {cursor:pointer;}