<html>
  <head>
	<link rel="stylesheet" href="{{STATIC_URL}}css/servapi.css" type="text/css" />
	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css" type="text/css" />
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/servapi.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-modal.js"></script>
	<title>{% block title %}SurvAPI{% endblock %}</title>
  </head>
  <body>
	<div class="topbar" data-scrollspy="scrollspy" >
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="/">ServAPI</a>
		  <ul class="nav">
			<li class="active">
			  <a href="#home">Home</a>
			<li>
			<li>
			  <a href="/view/all-surveys/">All Surveys</a>
			<li>
			<li>
			  <a href="#home">Contact Us</a>
			<li>

        </div>
      </div>
    </div>
	<div id="container" class="container">
	  {% block content %}
	  {% endblock %}
	  <footer>
		<p>Created by Rob and Anake at the MIT Transportation Hackathon 2012</p>
	  </footer>
	</div>

  </body>
</html>
