{% extends "base.html" %}

{% block content %}
<div class="page-header">
  <h1>Create a Question <small>Just type the question in the box</small></h1>
</div>
<div class="page-content row">
  <form class="survey-form" action="/create/question/?sid={{sid}}" method="POST">
	{% csrf_token %}
	<div id="survey-title" class="clearfix">
	  <label name="survey-name">Question Text</label>
	  <div class="input">
		<input class="span11 xlarge" name="question-text" value="{{survey.name}}" />
	  </div>
	</div>
	<input type="submit" class="btn btn-large" />
  </form>
</div>
{% endblock %}
