{% extends "base.html" %}


{% block content %}
<div class="container">
<div class="page-header">
  <h1>Create a survey <small>add questions, survey title, and publish</small></h1>
</div>
<div class="page-content row">
  <form class="survey-form" action="?sid={{survey.id}}" method="POST">
	{% csrf_token %}
	<div id="survey-title" class="clearfix">
	  <label name="survey-name">Survey Name</label>
	  <div class="input">
		<input class="xlarge" name="survey-name" value="{{survey.name}}" />
		<input type="submit" value="save" />
	  </div>
	</div>

	<hr />
	{% if survey.questions.count %}

	<table class="zebra-striped questions">
	  <thead>
		<tr>
		  <th>Question Number:</th>
		  <th>Question Text:</th>
		  <th>Question Type:</th>
		</tr>
	  </thead>
	  <tbody>
		{% for question in survey.get_all_questions %}
		<tr>
		  <td>{{forloop.counter}}</td>
		  <td>{{question.text}}</td>
		  <td>{{question.get_type}}</td>
		</tr>
		{% endfor %}
	  </tbody>
	</table>
	{% else %}
	<div class="well">
	  <h3>You currently have no questions in your survey</h3>
	</div>
	{% endif %}
	<a href="/create/question/?sid={{survey.id}}" class="btn btn-large">Add a Question</a>
	||
	<a href="/publish/?sid={{survey.id}}" class="btn btn-large">Publish Survey</a>
  </form>
</div>
{% endblock %}
